body {
    background-color: #7dbccd;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background: linear-gradient(344deg, rgba(131,0,255,1) 23%, rgba(0,212,255,1) 94%, rgba(0,212,255,1) 97%);
}
.structure {
    height: 100vh;
    display: inline-block;
    text-align: center;
    width: 800px;
    margin-left: calc(50% - 400px);
    border: red 5px solid;
    margin-bottom: 50px;
}
main {
    display: inline-block;
    width: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.button {
    color: white;
    /* border: orange solid 5px; */
    padding-top: 190px;
    border-radius: 100px;
    background: linear-gradient(344deg, rgba(255,191,0,1) 25%, rgba(255,251,0,1) 97%);
    box-shadow: 10px 8px 8px 0 #0005;
    cursor: pointer;
}
.button:hover {
    color: red;
    box-shadow: 20px 11px 8px 0 red;
}